.required-star {
    color: red;
  }
.homepage-header-field{
    height: 80px;
    background-color: blue;
    width: 100%;
}
.homepage-header-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 20px;
}
.homepage-login-field {
    position: fixed;
    width: 90px;
    right: 120px;
    top: 35px;
}
.homepage-to-session-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.homepage-new-create-field {
    position: fixed;
    right: 40px;
    width: 80px;
    top: 32px;
    height: 30px;
    background: orange;
    border-radius: 5px;
    cursor: pointer;
}
.homepage-to-new-user-create-link {
    text-decoration: none;
    color: white;
    position: relative;
    left: 12px;
    top: 2px;
    font-size: 14px;
    font-weight: bold;
}
.homepage-footer-field {
    background-color: blue;
    height: 350px;
    width: 100%;
}
.footer-copyright-and-homepage-area {
    top: 150px;
    position: relative;
}
.footer-copyright {
    font-size: 14px;
    color: white;
    position: relative;
    left: 20px;
}
.homepage-footer-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 20px;
    left: 20px;
}
.error-message {
    font-size: 10px;
    color: red;
}
.user-icon {
    height: 40px;
    width: 40px;
}
.homepage-user-menu {
    position: absolute;
    top: 25px;
    right: 60px;
    display: inline-block;
    width: auto;
    cursor: pointer;
}
.user-name {
    color: white;
    position: relative;
    left: 5px;
    top: -13px;
    font-size: 18px;
}
.dropdown-menu {
    display: none; /* 初期状態では非表示 */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 120px;
}
  
.dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
  
.dropdown-menu li {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
}
  
.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
} 
.dropdown-menu li a:hover {
    background-color: #ddd;
} 
.user-icon {
    cursor: pointer; /* アイコンや名前をクリック可能に */
}
//sidebar
.sidebar {
    text-decoration: none;
    width: 250px;
    position: absolute;
}
.sidebar-ul {
    list-style-type: none;
}
.sidebar-list-account {
    height: 60px;
    border: solid;
}
.sidebar-list-profile {
    height: 60px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
}
.sidebar-list-account-link {
    text-decoration: none;
    position: relative;
    font-size: 18px;
    left: 40px;
    top: 15px;
    color: black;
}
.sidebar-list-profile-link {
    text-decoration: none;
    position: relative;
    font-size: 18px;
    left: 30px;
    top: 15px;
    color: black;
}
.sidebar-list-profile-link.active {
    color: orange;
}
.sidebar-list-account-link.active {
    color: orange;
}
.error-message2 {
    font-size: 10px;
    color: red;
    position: relative;
    top: 10px;
}
