.new-create-main-field {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
    background: blanchedalmond;
    height: 600px;
}
.new-create-main-heading {
    position: relative;
    left: 200px;
    top: 30px;
    width: 100px;
}
.new-name-create-field {
    height: 90px;
    position: relative;
    top: 20px;
    left: 20px;
    width: 460px;
}
.new-name-create-heading-field {
    font-weight: bold;
}
.new-name-create-write-field {
    height: 30px;
    width: 460px;
}
.new-email-create-field {
    position: relative;
    top: 20px;
    left: 20px;
    height: 90px;
    width: 460px;
}
.new-email-create-heading-field {
    font-weight: bold;
}
.new-email-create-write-field {
    height: 30px;
    width: 460px;
}
.new-password-create-field {
    position: relative;
    top: 20px;
    left: 20px;
    height: 90px;
    width: 460px;
}
.new-password-create-heading-field {
    font-weight: bold;
}
.new-password-create-write-field {
    height: 30px;
    width: 460px;
}
.new-password_confirmation-field {
    top: 20px;
    position: relative;
    left: 20px;
    height: 90px;
    width: 460px;
}
.new-password_confirmation-heading-field {
    font-weight: bold;
}
.new-password_confirmation-write-field{
    height: 30px;
    width: 460px;
}
.new-create-submit-field {
    position: relative;
    top: 20px;
    left: 20px;
    width: 470px;
    height: 70px;
}
.new-create-submit {
    width: 468px;
    height: 50px;
    color: white;
    background: blue;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.new-create-to-login-field {
    top: 20px;
    position: relative;
    left: 20px;
    height: 50px;
    width: 468px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
}
.new-create-to-login-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    position: relative;
    left: 120px;
    top: 12px;
    cursor: pointer;
}
.new-white-place {
    height: 30px;
}
