.reservation-edit-main-content {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
}
.reservation-edit-heading {
    position:relative;
}
.edit-room-image {
    position: relative;
    width: 100%;
}
.reservation-edit-text-content {
    position: relative;
    background: rgba(255, 228, 225, 0.5);
    height: 570px;
    top: 12px;
}
.reservation-edit-room-information-field {
    position: relative;
    top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.reservation-edit-name {
    font-size: 25px;
    position: relative;
}
.reservation-edit-price {
    position: absolute;
    right: 0;
    color: coral;
    font-size: 25px;
    font-weight: bold;
}
.reservation-edit-room-information2-field {
    height: 50px;
    position: relative;
    top: 45px;
    margin-left: 30px;
    margin-right: 30px;
}
.reservation-edit-address {
    font-size: 16px;
}
.reservation-edit-star {
    position: relative;
    top: 8px;
    display: flex;
    gap: 5px;
}
.reservation-edit-description {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: 45px;
    height: 105px;
    margin-top: 0;
    margin-bottom: 0;
}
.reservation-edit-reservation-field {
    margin-left: 30px;
    margin-right: 30px;
    background: white;
    position: absolute;
    width: 92%;
    display: flex;
    height: 120px;
    top: 270px;
}
.reservation-edit-check-in-field {
    width: 200px;
    padding-left: 40px;
}
.reservation-edit-check-in-heading {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 40px;
}
.reservation-edit-check-in-picking {
    height: 40px;
    width: 200px;
    position: absolute;
    top: 60px;
    left: 40px;
}
.reservation-edit-check-out-field {
    width: 200px;
    padding-left: 25px;
}
.reservation-edit-check-out-heading {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 265px;
}
.reservation-edit-check-out-picking {
    position: absolute;
    height: 40px;
    width: 200px;
    top: 60px;
    left: 265px;
}
.reservation-edit-people-field {
    padding-left: 25px;
}
.reservation-edit-people-heading {
    top: 10px;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 490px;
}
.reservation-edit-people-writing {
    height: 38px;
    width: 200px;
    position: absolute;
    top: 60px;
    left: 490px;
}
.reservation-edit-submit-or-cancel {
    position: relative;
    top: 215px;
    margin-left: 30px;
    margin-right: 30px;
    height: 120px;
}
.reservation-edit-submit {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background: coral;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.reservation-edit-cancel-field {
    height: 50px;
    border: 1px solid;
    border-radius: 20px;
    position: relative;
    top: 20px;
    cursor: pointer;
    background: white;
}
.reservation-edit-cancel-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    position: relative;
    left: 330px;
    top: 15px;
}
.reservation-edit-error-message {
    font-size: 10px;
    color: red;
    margin-top: 5px;
}
