.fa-star {
    color: orange;
    margin-right: 5px;
}
.room-own-main-content {
    width: 100%;
    min-height: 400px;
}
.room-own-main-content-heading-field {
    font-size: 25px;
    position: relative;
    left: 30px;
    margin-bottom: 10px;
}
.room-own-image {
    width: 100px;
}
.room-own-tbody-name {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
.open-modal-delete {
    text-decoration: none;
    color: red;
    cursor: pointer;
}
.own-to-show-link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
